
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

/* conf para fondo negro */
body {
	/* display: flex; */
	align-items: center;
	justify-content: center;
	/* min-height: 100vh; */
	/* background: #0c0c0c; */
}

a {
    position: relative;
    margin: 10px;
    padding: 30px;
    text-align: center;
    display: block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    width: 287px;
    overflow: hidden;
    border-radius: 40px;
}

a span {
    position: relative;
    color: #fff;
    font-size: 27px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

a .liquido {
    position: absolute;
    top: -80px;
    left: 0;
    width: 287px;
    height: 230px;
    /* background: #4973ff; */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5s);
    transition: .5s;
}

#ini {
    background: #4973ff;
}

#nos {
    background: #49e4ff;
}

#peli {
    background: #49ff64;
}

#ubi {
    background: #f3ff49;
}

#cont {
    background: #ff4970;
}

a .liquido::after, a .liquido::before {
    content: '';
    width: 170%;
    height: 250%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

a .liquido::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

a .liquido::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

a:hover .liquido {
    top: -138px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -70%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}