/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
	--fuente-principal:'Poppins', sans-serif;
	--fuente-secundaria:'Roboto', sans-serif;

	--color-celeste:#40CFFF;
	--color-verde:#7fff00;
	--color-blanco:#fff;
	--color-grisoscuro3: #454545;
	--color-negro:#000;
	--color-azulsuave:#5BA9D9;
	--color-grisclaro:#c4c4c4;
	--color-grisoscuro:#A0BDC1;
	--color-grisoscuro2:rgb(177, 200, 230);
	--color-azulopaco:#011629;
	--color-azulclaro:#99baf8;
	--color-naranja:rgba(255, 99, 71, 0.986);
	--color-amarillo:rgb(255, 245, 0);
	--color-azul:rgb(6, 83, 184);
	--color-celestesuave: rgb(207,224,252);
}

#tabla_cliente {
    justify-content: space-evenly;
}

* {
	/*Elimina los márgenes y espaciados predeterminados*/
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--fuente-principal);
	/* background-color: var(--color-negro); */
}

/*-----------------------
Selector de estilo ID
------------------------*/

#menu {	
	background-color: var(--color-negro);
	
}

/* efecto para el menu
.menu_barra {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
} */

/* efectos list item del manu
.menu_barra li a {
	display: block;
	padding: 20px;
	border-bottom: 3px solid transparent;
	color: var(--color-verde);
	text-decoration: none;
}


.menu_barra li a:hover {
	background-color: var(--color-grisclaro);
	color: var(--color-negro);
	border-bottom: 3px solid var(--color-negro);
} */

/*-----------------------
Selector de estilo CLASS
------------------------*/

/*Efectos para todas las clases fila*/
.fila {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

/*Efectos para todas las clases columna*/
.columna {
	flex-basis: 0;
	flex-grow: 1;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Efectos para todas las clases espaciado */
.espaciado{
	padding-top: 90px;
	padding-bottom: 90px;
}

/* Efectos para todos los contenedores */
.contenedor{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*ajuste de mapa*/
.ajuste_mapa{
	width:100%;
	padding-bottom:50px;
}

/*ajuste de imagen*/
.ajuste_img{
	width: 100%;
}

.entrada{
    margin: 10px 0px;
    flex-direction:row;
  }

.entrada h2{
	margin-left: 200px;
	color: #f4f4f4;
}

#formulario{
  background-color: #222;
  color: #222;
  padding: 10x 30px;
  border: none;

  display: flex;
  flex-direction: row;
  
}

.campo{
	width: 100%;
	padding: 10px 0px;
	margin-left: 200px;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color-grisclaro);
	border-right: 1px solid var(--color-grisclaro);
	font:inherit;
	color:var(--color-grisoscuro2)
}

.boton{
	background-color: #222;
	color: white;
	padding: 45px 0px;
	margin-left: 50px;
	width: 100%;
	cursor: pointer;
	font: inherit;
	border: none;
	transition: all 0.5s;
}

.boton:hover{
	color: #44d64c;
}

#slider{
	display: flex;
	justify-content: space-evenly;
}

#nosotros img {
	width: 30%;
	padding-top: 25px;
}

#tab_peli {
	background-color: var(--color-negro);
}

#pelisl .fila{
	padding-top: 50px;
}

#ubicanos {
	background-color: var(--color-grisoscuro3);
}

#formulario {
	background-color: var(--color-blanco);
	padding: 30px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #23242a;
	position: relative;
	width: 320px;
	height: 460px;
	border-radius: 18px;
	overflow: hidden;
}

.box form{
	position: absolute;
	inset: 4px;
	background-color: #222;
	padding: 20px 4px;
	border-radius: 4%;
	z-index: 2;
	display: flex;

}

.box::before{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 360px;
	height: 400px;
	background: linear-gradient(0deg,transparent,
	transparent,#45f3ff,#45f3ff,#45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -2.5s;
}

.box::after{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 360px;
	height: 400px;
	background: linear-gradient(0deg,transparent,
	transparent,#45f3ff,#45f3ff,#45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -4s;
}

.borderline
{
	position: absolute;
	top: 0;
	inset: 0;
}

.borderline::before
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 360px;
	height: 400px;
	background: linear-gradient(0deg,transparent,
	transparent,#ff2770,#ff2770,#ff2770);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: 0.5s;
}

.borderline::after
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 360px;
	height: 400px;
	background: linear-gradient(0deg,transparent,
	transparent,#ff2770,#ff2770,#ff2770);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -1s;
}

.pelicula:hover{
	transform: scale(1.09);
	transform-origin: center;
	overflow: visible;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgb(0,0,0,.3	);
}

.pelicula img{
	width: 100%;
	
	border-radius: 15px;
}

@keyframes animate{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}