html {
    /* retrasa el desplazamiento del scrooll */
    scroll-behavior: smooth;
}

/* Declaracion de variable */
:root{
    /* Paleta de colores */
    /*Link de la paleta
    https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08
    */
    --color-rojo: #D00000;
    --color-negro: #000;
    --color-blanco: #fff;
    --color-mazul: #14324B;
    --color-hazul: #004A8C;
    --color-grisclaro: #c4c4c4;
    --color-grisoscuro: #454545;
    --coloro-celesteclaro: #D0DFF2;
    --color-naranja: #F48C06;
    --color-degr: #FAA307;
    --color-azulmarino: #242333;
    --color-verde: #2eb81b;
    --color-Cele:#E7ECF0;
    --color-grisclaroP: #F6F6F6;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

#cabecera {
 
    /*background-image: URL(../FOTOS/CHA02.jpg);  color negro 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;*/
    background: var(--color-hazul); 
    color: var(--color-blanco); /* color blanco */
    padding: 20px 0px;
}

.espacios{
    padding-left: 85px;
    padding-right: 85px;
}

nav ul li{
    display: inline-block;
}

.barra-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*Derecha(end) o izquierda(strat)*/
    /*space-between: parte a ambos lados
    space-evenly: between moderado al centro
    */
    align-items: center ;        
}

.contenedor{
    max-width: 90%; /* Utilizara como maximo el 90% del ancho de la pantalla*/
    /* centra el contenido entre */
    /* el margen izq y der */
    margin-left: auto;
    margin-right: auto;
    /* color: var(--color-blanco); */
}

.fila{
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
}

.columna{

    flex-basis: 0;
    flex-grow: 1;
    
    /* distancia entre columnas 
    margin-left: 5px;
    margin-right: 5px;

    padding-left: 15px;
    padding-right: 15px;*/
    /*
    display: flex;
    justify-content: left;
    background-color: #c4c4c4;*/
}



.asiento{
    background-color: var(--color-grisclaro);
    text-align: center;
    color: var(--color-negro);
    height: 45px;
    width: 45px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
}

.asiento.seleccionado{
    background-color: var(--color-verde);
}

.asiento.ocupado{
    background-color: var(--color-rojo);
}

.asiento.seleccionadoP{
    background-color: var(--color-verde);
    height: 30px;
    width: 30px;
    margin: 3px;
}

.asiento.ocupadoP{
    background-color: var(--color-rojo);
    height: 30px;
    width: 30px;
    margin: 3px;
}
.asiento.P{
    background-color: var(--color-grisclaro);
    height: 30px;
    width: 30px;
    margin: 3px;
}
.asiento:nth-of-type(2){
    margin-right: 18px;
}

.asiento:nth-last-of-type(2){
    margin-left: 18px;
}

.asiento:not(.ocupado):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.sala .asiento:not(.ocupado):hover{
    cursor: default;
    transform: scale(1);
}

.sala{
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-grisclaro);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.sala li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px;    
}

.sala li small{
    margin-left: 0px;
}

.filaA{
    display: flex;
}

.pantalla{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    font-size: 30px;


    background-color: var(--color-blanco);
    color: var(--color-negro);

    height: 100px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

/*//////////////////////////////////////////////////////////CONTENEDORES*/
.contenedorT{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--color-blanco);
}

.contenedorSALA {
    padding: 45px 100px;
    background: var(--color-Cele);
}

.contenedorW{
    background: var(--color-grisclaroP);
    color: var(--color-mazul);
    padding: 80px 30px;
}

.img_Asi{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
}

.contenedorA{
    perspective: 1000px;
    padding-bottom: 30px;
    color: var(--color-hazul);
}

/*//////////////////////////////////////////////////////////CONTENEDORES*/

/*//////////////////////////////////////////////////////////VIP ESTANDAR REGULAR*/
.tabla{
    font-size: medium;
    color: #0074d9;
}

.tabla input[type="radio"]{
    display: none;
}

.tabla label{
    color: #0074d9;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: medium;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tabla label:hover{
    background: rgba(0, 116, 217, 0.1);
}

.tabla label::before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0074d9;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 4px;
}

/*cuando esta seleccionado cambiará los estilos del label*/
.tabla input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #0074d9;
    border-radius: 2px;
    color: #fff;
}

.tabla input[type="radio"]:checked + label:before {
    display: none;
}
/*//////////////////////////////////////////////////////////VIP ESTANDAR REGULAR*/

h3 {
    color: var(--color-hazul);
    font-size: medium;
}

/*//////////////////////////////////////////////////////////PIE*/
#pie{
    border-top: 5px solid var(--color-rojo);
    background-color: var(--color-blanco); /* color negro */
    color: var(--color-blanco); /* color blanco */
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 32px;
}

.columnaPIE{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}


/*//////////////////////////////////////////////////DESDE AQUI COMIENZA PARA LOGIN////////////////////*/
#login {
    background-color: var(--color-blanco);
    color: var(--color-grisoscuro);
    padding-top: 40px;
    padding-bottom: 80px;
}

#sesion{
    box-shadow: 0 15px 20px 0 rgba(28, 45, 58, 0.2) !important;
    padding: 20px 50px;
    background-color: var(--color-grisclaroP);
}

.txtsesion{
    padding: 10px 0px;
    color: var(--color-azulmarino);
    font-size: 30px;
}

.contenedorW1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--color-grisclaroP);
    color: var(--color-mazul);

}

.imagen {
    padding: 0px 60px;
}

.img_login{
    width: 90%;
    height: 90%; 
}

.llenar {
    padding: 0px 60px;
}

#tabl {
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    
}

.campo {
    background-color: var(--color-grisclaroP);
    width: 100%;
    padding: 10px 100px;
    text-align: center;
    border: none; /* quieta el borde */
    outline: none; /* quieta el borde al pasar el mouse encima */
    border-bottom: 1px solid var(--color-hazul);
    font: inherit; /* hereda la misma letra que la caja padre del formulario */
}


.botonIngresar{
    background-color: var(--color-azulmarino);
    color: var(--color-blanco);
    padding: 15px 20px; 
    width: 50%;
    border: none;
    font: inherit;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s;
}

.botonIngresar:hover{
    background-color: var(--color-hazul);
}