/* wllppr */
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Orbitron|Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #2e2c2c; }

#pie {
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -8px; 
  /*flex-direction: column*/
}

#pie .sm{
  flex-direction: column;
}
#pie .line{
  flex-direction: row;
}
#pie .icons{
  flex-direction: row;
}
#pie .test{
  flex-direction: column-reverse;
  color: #44d64c;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.icons {
  display: flex;
  column-gap: 25px; }

.icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  /* */
  border-radius: 50%;
  outline: 2px solid #fff;
  /* */
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s; }

.icon:hover {
  outline-offset: 4px;
  color: #fff;
  outline: 2px solid #fff; }

.icon:hover {
  animation: shake .25s; }

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76; }

.icon--twiter:hover {
  /* background-image: radial-gradient(circle at 30% 107%, #5bb4ec 0%, #5bb4ec 5%, #1da1f2 45%, #0d75b6 60%, #285aeb 90%); */
  background-color: #1da1f2;
  outline-color: #1da1f2; }

.icon--link:hover {
  background-color: #0077b5;
  outline-color: #0077b5; }

.icon--facebook:hover {
  background-color: #1336fd;
  outline-color: #1336fd; }

@keyframes shake {
  10% {
    transform: rotate(15deg); }
  20% {
    transform: rotate(-15deg); }
  30% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-15deg); } }
.nav {
  display: flex;
  align-items: center;
  pointer-events: none; }

.nav:hover {
  pointer-events: auto; }

.sm {
  font-family: 'Oswald', sans-serif;
  font-size: 2.6rem;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto;
  color: #fff; }

#tocame {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  color: #44d64c; }

.line {
  width: 30rem;
  height: 3px;
  background-color: #fff;
  margin-left: 2rem;
  margin-right: auto;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
  /*  */ }

.nav:hover .line {
  transform: scale(1); }

.icons {
  display: flex;
  list-style: none; }

.icon {
  font-size: 45px;
  margin-inline: 2.5rem;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s; }

.icon:nth-child(odd) {
  transform: translateY(-15rem); }

.icon:nth-child(even) {
  transform: translateY(-5rem); }

.nav:hover .icon {
  opacity: 1;
  transform: translateY(0); }

.columna_fila {
  display: flex;
  flex-direction: row;
  margin: 20px; }

.columna {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.espaciado {
  padding-top: 60px;
  padding-bottom: 60px; }

.fila_l {
  display: flex;
  flex-direction: row;
  padding-right: 5px; }

.columna_l {
  flex-basis: 0;
  flex-grow: 1; }

.entrada{
    margin: 50px 50px;
    flex-direction:row;
}

#formulario{

  padding: 10x 30px;
  border: none;
}

